# API Gateway Configuration
GATEWAY_SERVER_HOST=0.0.0.0
GATEWAY_SERVER_PORT=8080
GATEWAY_DEBUG=false

# Backend Services URLs
GATEWAY_BILLING_SERVICE_URL=http://billing.arch.homework
GATEWAY_NOTIFICATION_SERVICE_URL=http://notifications.arch.homework
GATEWAY_ORDER_SERVICE_URL=http://orders.arch.homework
