# Database Configuration
WAREHOUSE_DB_HOST=postgres-service
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_USER=postgres
WAREHOUSE_DB_PASSWORD=postgres
WAREHOUSE_DB_NAME=warehouse
WAREHOUSE_DB_SSL_MODE=disable

# Server Configuration
WAREHOUSE_SERVER_HOST=0.0.0.0
WAREHOUSE_SERVER_PORT=8083

# Debug Mode
WAREHOUSE_DEBUG=false
