# Database Configuration
DELIVERY_DB_HOST=postgres-service
DELIVERY_DB_PORT=5432
DELIVERY_DB_USER=postgres
DELIVERY_DB_PASSWORD=postgres
DELIVERY_DB_NAME=delivery
DELIVERY_DB_SSL_MODE=disable

# Server Configuration
DELIVERY_SERVER_HOST=0.0.0.0
DELIVERY_SERVER_PORT=8084

# Debug Mode
DELIVERY_DEBUG=false